* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}

nav > a {
    text-decoration: none;
}

:root {
    --header-height: 111px;
    --footer-height: 75px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: rgba(255, 247, 237, 1);
}

.footer {
    display: flex;
    height: var(--footer-height);
    background-color: rgba(37, 37, 37, 1);
    color: rgba(170, 170, 170, 1);
    align-items: center;
    justify-content: center;
}

.main {
    height: calc(100vh - (var(--footer-height) + var(--header-height)));
}

.container {
    justify-content: center;
    max-width: 1120px;
    padding: 0px 26px 0px 26px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.header-wrapper > nav > a {
    margin-left: 13px;
    color: rgba(77, 77, 77, 1);
}

.header-wrapper h1 {
    font-weight: 900;
}
.header-wrapper a {
    text-decoration: none;
    color: black;
}
.home {
    display: flex;
    justify-content: center;
    background: url('./assets/images/home-hero.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
}

.home-wrapper > h3 {
    font-size: 2rem;
    font-weight: 800;
}

.home-wrapper > p {
    margin-top: 22px;
    width: 494px;
}

.home-wrapper > button {
    margin-top: 52px;
    height: 50px;
    color: white;
    background-color: rgba(255, 140, 56, 1);
    border-radius: 7px;
    margin-bottom: 65px;
}

.about {
    display: flex;
    justify-content: center;
    height: calc(100vh + (var(--footer-height)));
    margin-bottom: 53px;
    overflow: hidden;
}

.about-wrapper button {
    background-color: black;
    color: white;
    height: 49px;
    width: 174px;
    border-radius: 7px;
}

.about-wrapper {
    overflow: scroll;
}

.about-wrapper::-webkit-scrollbar {
    display: none;
}

.about-text h3 {
    font-size: 2rem;
    padding-top: 49px;
    margin: 0;
}

.about-text p {
    margin: 0;
    margin-top: 31px;
}

.about-button {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(255, 204, 141, 1);
    padding-left: 37px;
    padding-top: 32px;
    margin-top: 55px;
}

.about-button > h4 {
    padding: 0;
    margin: 0;
    font-size: 24px;
}
.about-button > button {
    margin-top: 25px;
    margin-bottom: 2rem;
}

.about-hero {
    width: 100%;
    height: 100%;
    position: center;
    background-repeat: no-repeat;
    background-position: center center;
}
.vans-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.van-nav {
    margin-top: 54px;
    margin-bottom: 56px;
}
.van-nav nav {
    display: flex;
}

.van-nav a {
    margin-left: 20px;
}

.van-nav h3 {
    font-weight: 700;
    font-size: 37px;
}

.van-nav button {
    height: 37px;
    width: 104px;
    background-color: #ffead0;

    border: none;
}

.van-nav p {
    margin-left: 40px;
}
.van-wrapper {
    height: 380px;
    max-width: 311px;
    margin-top: 30px;
    margin-bottom: 86px;
}

.van-wrapper h4,
p,
img,
button {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.van-wrapper > button {
    height: 34px;
    width: 86px;
    background-color: rgba(225, 118, 84, 1);
    border: none;
    border-radius: 7px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.van-info {
    display: flex;
    justify-content: space-between;
}

.van-wrapper > button {
    height: 34px;
    width: 86px;
}

.van-img {
    max-height: 100%;
    width: 100%;
}
